USE [AP_Project]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 18/05/2026 11:04:07 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[attendanceID] [varchar](20) NOT NULL,
	[aridno] [varchar](16) NULL,
	[subjectID] [varchar](15) NULL,
	[teacherID] [varchar](15) NULL,
	[status] [varchar](15) NULL,
	[attendancedate] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[attendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 18/05/2026 11:04:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[aridno] [varchar](16) NOT NULL,
	[stdname] [varchar](40) NULL,
	[qrdata] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[aridno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 18/05/2026 11:04:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[subjectID] [varchar](15) NOT NULL,
	[subjectname] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[subjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 18/05/2026 11:04:08 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[teacherID] [varchar](15) NOT NULL,
	[tname] [varchar](40) NULL,
	[password] [varchar](20) NULL,
	[subjectID] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[teacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Note: Passwords shown as plaintext for demo purposes only.
-- In production, passwords should be hashed using bcrypt or similar.

INSERT [dbo].[Attendance] ([attendanceID], [aridno], [subjectID], [teacherID], [status], [attendancedate]) VALUES (N'ATD20251201000001', N'2024-ARID-0220', N'CSC-252', N'T001', N'ABSENT', N'2025-12-01')
INSERT [dbo].[Attendance] ([attendanceID], [aridno], [subjectID], [teacherID], [status], [attendancedate]) VALUES (N'ATD20251201000002', N'2024-ARID-0220', N'CSC-211', N'T002', N'PRESENT', N'2025-12-01')
INSERT [dbo].[Attendance] ([attendanceID], [aridno], [subjectID], [teacherID], [status], [attendancedate]) VALUES (N'ATD20251201000003', N'2024-ARID-0220', N'PHY-201', N'T003', N'PRESENT', N'2025-12-01')
GO
INSERT [dbo].[Student] ([aridno], [stdname], [qrdata]) VALUES (N'2024-ARID-0220', N'Ali Ahmed', N'2024-ARID-0220')
INSERT [dbo].[Student] ([aridno], [stdname], [qrdata]) VALUES (N'2024-ARID-0221', N'Hassan Khan', N'2024-ARID-0221')
INSERT [dbo].[Student] ([aridno], [stdname], [qrdata]) VALUES (N'2024-ARID-0222', N'Fatima Malik', N'2024-ARID-0222')
GO
INSERT [dbo].[Subjects] ([subjectID], [subjectname]) VALUES (N'CSC-211', N'Computer Organization and Assembly Lang')
INSERT [dbo].[Subjects] ([subjectID], [subjectname]) VALUES (N'CSC-252', N'Advance Programming')
INSERT [dbo].[Subjects] ([subjectID], [subjectname]) VALUES (N'CSE-324', N'Software Requirement Engineering')
GO
INSERT [dbo].[Teachers] ([teacherID], [tname], [password], [subjectID]) VALUES (N'T001', N'Ali Ahmed', N'ali128', N'CSC-252')
INSERT [dbo].[Teachers] ([teacherID], [tname], [password], [subjectID]) VALUES (N'T002', N'Sara Khan', N'sara436', N'CSC-211')
INSERT [dbo].[Teachers] ([teacherID], [tname], [password], [subjectID]) VALUES (N'T003', N'Usman Raza', N'usman795', N'PHY-201')
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([aridno])
REFERENCES [dbo].[Student] ([aridno])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([subjectID])
REFERENCES [dbo].[Subjects] ([subjectID])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([teacherID])
REFERENCES [dbo].[Teachers] ([teacherID])
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD FOREIGN KEY([subjectID])
REFERENCES [dbo].[Subjects] ([subjectID])
GO
